/* INICIO*/
.bg__breadcrumb{
  
    padding: 10px 0;
}
.breadcrumb-item a{
    color: var(--Gris-medio, #4F4F4F) !important;

    /* Body/Bold/Body 14 */
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.breadcrumb-item a:hover{
    color: #FE2324 !important;

    /* Body/Bold/Body 14 */
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}


.breadcrumb-item .active{
    color: var(--Gris-medio, #4F4F4F) !important;

    /* Body/Bold/Body 14 */
    font-family: "Work Sans";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 150%; /* 21px */         
}
.carousel-item {
    position: relative;
    width: 100%;
    height: 760px;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) -0.77%, rgba(0, 0, 0, 0.00) 99.23%), linear-gradient(180deg, rgba(0, 0, 0, 0.71) 0.26%, rgba(0, 0, 0, 0.00) 100.26%);
    z-index: 1;
}

.carousel-video,
.carousel-imagen {
    width: 100%;
    height: 760px;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 230px;
    z-index: 2;
}

.carousel__titulo {
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
}

.carousel__descripcion {
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    padding: 20px;
}

.titulo__secciones{
    color: var(--Negro, #000);

    /* Heading/H3 */
    font-family: "Work Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}

.contenido__titulo{
    color: #FFF;

    /* Heading/H3 */
    font-family: "Work Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}

.contenido__descripcion{
    color: var(--Blanco, #FFF);

    /* Body/Regular/Body 16 */
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
   
}
.btn__rojo{
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    border-radius: 4px;
    border: 1px solid var(--Azul, #FE2324);
    background: #FE2324;   
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FE2324; /* Color base del botón */
    transition: 0.5s ease-in-out; /* Transición suave del efecto de sombra */
}

.btn__rojo:hover{
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    border: 1px solid #FE2324;
    color: #FE2324;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff; /* Color base del botón */
    transition: 0.5s ease-in-out; /* Transición suave del efecto de sombra */
}

.btn__white{
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    border-radius: 4px;
    border: 1px solid var(--Azul, #FE2324);
    background: var(--Blanco, #FFF);   
    color: #FE2324;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff; /* Color base del botón */
    transition: 0.5s ease-in-out; /* Transición suave del efecto de sombra */
}

 /* PRODUCTO */
.titulo__producto{
    color: #000;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.list-menu{
color: #000;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.list-menu:hover{
color: #FE2324;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}


input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.wrapper-producto {
border-radius: 4px;
border: 1px solid var(--Gris, #D1D2D4);

padding: 3px;
display: flex;

}

.plusminus {
    height: 100%;
    width: 30%;
    background: white;
    border: none;
    color: #000;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.num {
    height: 100%;
    width: 39%;
    border: none;
    color: #000;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-subtitulo{
color: var(--Azul, #FE2324);
font-family: "Work Sans";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
}
.card-codigo{
color: var(--Negro, #000);
text-align: right;

font-family: "Work Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.card-titulo{
color: var(--Gris-medio, #4F4F4F);
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.card-precio{
    color: var(--Negro, #1A171B);
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.fotorama__stage__frame{
    border: 1px solid #D1D2D4 !important;
}
    /* Cambiar el color del borde de las miniaturas */
.fotorama__thumb {
    border: 1px solid #D1D2D4; /* Cambia #FF0000 por el color deseado */
}
.fotorama__thumb-border{
    border: 2px solid #FF0000;
}
.fotorama__nav--thumbs{
    text-align: left !important;
    margin: 10px 0px;
}
.producto__categoria{
    color: var(--Azul, #FE2324);

    /* Body/Bold/Body 16 */
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
.producto__codigo{
    color: #000;

    /* Body/Regular/Body 16 */
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.producto__titulo{
    color: #000;

    /* Subtitle/S3 */
    font-family: "Work Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 38.4px */
}
.producto__descripcion{
    color: #000;

    /* Body/Regular/Body 16 */
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.producto__precio{
    color: var(--Negro, #000);

    /* Heading/H2 */
    font-family: "Work Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

/*FIN  PRODUCTO */

.btn__white:hover{
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FE2324; /* Color base del botón */
    transition: 0.5s ease-in-out; /* Transición suave del efecto de sombra */
}

.btn__transparente{
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: transparent; /* Color base del botón */
    transition: 0.5s ease-in-out; /* Transición suave del efecto de sombra */
}


.btn__transparente:hover{
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    border: 1px solid #FE2324;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: transparent; /* Color base del botón */
    transition: 0.5s ease-in-out; /* Transición suave del efecto de sombra */
}
/* CART*/
.cart__header{
    color: #000;
        padding: 20px;
    /* Subtitle/S4 */
    background-color: white;
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    }
    .cart__categoria{
        color: var(--Azul, #FE2324);
        font-family: "Work Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 18px */
    }
    .cart__titulo{
        color: #000;
        /* Body/Regular/Body 20 */
        font-family: "Work Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 30px */

    }

    .cart__precio{
        color: #000;
        text-align: left;
        /* Heading/H4 */
        font-family: "Work Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    .cart__numero{
        color: #000;
        text-align: right;
        /* Body/Bold/Body 20 */
        font-family: "Work Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
    }

.info-contact {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing as needed */
}

.item-contact {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
}

.item-contact svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

.item-contact a {
    color: #000;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.item-contact a:hover {
    color: #7CB420;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.form-label{
    color: var(--Negro, #000);
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


  .titulo__presupuesto{
    color: var(--000000, #000);
    font-family: 'Work Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px; /* Ajusta el espacio entre el SVG y el texto si es necesario */
        line-height: 35px; /* Ajusta la altura de línea para alinear verticalmente con el SVG */
    }

    .contenedor {
        display: flex;
        align-items: center; /* Alinea verticalmente el contenido */
        border-bottom: 1px solid #ccc; /* Estilo del borde inferior */
        padding-bottom: 10px; /* Espacio opcional bajo el borde */
        margin-bottom: 20px; /* Espacio opcional debajo del contenedor */
    }

    
    .custom-file-button input[type=file]::-webkit-file-upload-button {
        display: none;
      }
      .custom-file-button input[type=file]::file-selector-button {
          display: none;
      }
      .custom-file-button:hover label {
          cursor: pointer;
      }
        #inputGroupFile {
          /* border-radius: 6px; */
          border-top-left-radius: 6px !important;
          border-bottom-left-radius: 6px !important;
        
          border-right: none !important;
          border-top-right-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;

          color: rgba(0, 0, 0, 0.5);
        }